In [1]:
from pyforest import *

In [4]:
data = pd.read_excel('data/total station load.xlsx')

In [5]:
data

        Hour  Day  Month  Load
0       1.00    1      1  39.7
1       2.00    1      1  38.8
2       3.00    1      1  38.1
3       4.00    1      1  37.7
4       5.00    1      1  38.9
...      ...  ...    ...   ...
11310  20.15   31     12  43.4
11311  21.00   31     12  40.7
11312  22.00   31     12  35.2
11313  23.00   31     12  34.7
11314  24.00   31     12  34.3

[11315 rows x 4 columns]

In [29]:
data.drop(data[data['Hour'] == 18.15].index, inplace=True)

In [31]:
data.drop(data[data['Hour'] == 18.3].index, inplace=True)

In [33]:
data.drop(data[data['Hour'] == 18.45].index, inplace=True)

In [35]:
data.drop(data[data['Hour'] == 19.15].index, inplace=True)

In [36]:
data.drop(data[data['Hour'] == 19.3].index, inplace=True)

In [37]:
data.drop(data[data['Hour'] == 19.45].index, inplace=True)

In [38]:
data.drop(data[data['Hour'] == 20.15].index, inplace=True)

In [39]:
data

       Hour  Day  Month  Load
0       1.0    1      1  39.7
1       2.0    1      1  38.8
2       3.0    1      1  38.1
3       4.0    1      1  37.7
4       5.0    1      1  38.9
...     ...  ...    ...   ...
11309  20.0   31     12    44
11311  21.0   31     12  40.7
11312  22.0   31     12  35.2
11313  23.0   31     12  34.7
11314  24.0   31     12  34.3

[8760 rows x 4 columns]

In [40]:
data.to_csv('data/total load station cleaned.csv')